body {
  background-color: antiquewhite;
}

#top-title {
  display: flex;
  align-items: center;
}

h1 {
  color: darkslategrey;
}

.module {
  border-width: medium;
  margin: 10px;
}

#box-1 {
  display: flex;
  flex-direction: row;
}

#box-2 {
  display: flex;
  flex-direction: row;
}
